#map_canvas {
  height: 500px;
  width: 500px;
  margin: 0px;
}
#map_canvas {
  position: relative;
}
.angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#header1 {
  padding: 5px 0px 0px 0px;
  width: 100%;
  height: 50px;
  background: #333;
  background-color: #333;
  position: relative;
}
#shape {
  position: relative;
  height: 100%;
  border-bottom: 40px solid #fff;
  border-right: 45px solid transparent;
}
#textheader {
  position: relative;
  top: 10px;
  color: #fff;
}
#header2 {
  height: 80px;
  background: #fff;
  background-color: #fff;
  position: relative;
}
#logo {
  bottom: 20px;
  position: relative;
}
#buttonG {
  position: relative;
  width: 160px;
  height: 45px;
  background: #00a651;
  text-align: center;
  font-size: 11px;
  display: block;
  color: #fff;
  line-height: 45px;
  -webkit-box-shadow: 10px 10px 4px -6px rgba(0,166,81,0.52);
  -moz-box-shadow: 10px 10px 4px -6px rgba(0,166,81,0.52);
  box-shadow: 10px 10px 4px -6px rgba(0,166,81,0.52);
}
#header2 {
  padding: 20px 0px 0px 0px;
}
#daneheader {
  text-align: center;
  position: relative;
}
#menu {
  position: relative;
  width: 100%;
  background: #a91605;
}
#zawartosc {
  padding: 50px;
}
#slider {
  width: 100%;
}
#slider img {
  width: 100%;
  height: 400px;
}
.footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #333;
}
.text-muted {
  text-align: center;
  line-height: 39px;
  font-size: 11px;
  color: #fff;
}
#medale {
  padding-bottom: 10px;
}
.box {
  position: relative;
  margin-left: 40px;
  margin: 30px;
  height: 180px;
  width: 320px;
  border: 1px solid #eee;
  -webkit-box-shadow: 10px 3px 1px -6px #eee;
  -moz-box-shadow: 10px 3px 1px -6px #eee;
  box-shadow: 10px 3px 1px -6px #eee;
}
.shapeicon {
  top: 50px;
  right: 10px;
  width: 30%;
  position: relative;
  border-bottom: 80px solid #eee;
  border-right: 20px solid transparent;
}
.textH {
  top: 50px;
  left: 90px;
  color: #333;
  font-size: 18px;
  position: absolute;
}
.textP {
  top: 80px;
  left: 90px;
  color: #333;
  font-size: 12px;
  position: absolute;
}
#menu.navbar-default .navbar-brand {
  color: #fff;
}
#menu.navbar-default {
  margin-bottom: 0px;
  font-size: 14px;
  background-color: #e84545;
  border-bottom-width: 0px;
}
#menu.navbar-default .navbar-nav>li>a {
  color: #fff;
  background-color: rgba(248,248,248,0);
}
#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
  color: #555;
  background-color: #e7e7e7;
}
#menu.navbar-default .navbar-toggle {
  border-color: #ddd;
}
#menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #e84545;
}
