<input type="text" ng-model="filterQuery" placeholder="szukaj" />
<br>
<br>
<div class="row">

    <div class="col-md-2" ng-repeat="img in imgs | filter:filterQuery">

        <img src="{{img.img}}" class="img-responsive"></p>
        <lable>Nazwa polska</lable>
        <input type="text" ng-model="img.namePl" value="{{img.namePl}}">
        <br>
        <lable>Nazwa angielska</lable>
        <input type="text" ng-model="img.nameEn" value="{{img.nameEn}}">
        <br>
        <br>
        <!--<lable>Rozmiar</lable>
        <input type="text" ng-model="img.sizePl" value="{{img.sizePl}}">
        <br>-->
        <lable>Kategoria zdjęcia(PL)</lable>
        <select class="form-control" ng-model="img.typPl">
            <div >
            <option ng-repeat="typ in typs" >{{typ.typPl}}</option>
            </div>
        </select>
        <br>
         <lable>Kategoria zdjęcia(EN)</lable>
        <select class="form-control" ng-model="img.typEn">
            <div >
            <option ng-repeat="typ in typs" >{{typ.typEn}}</option>
            </div>
        </select>
        <br>

        <a class="btn btn-danger" ng-click="deleteImg(img._id)">usuń</a>
        <td><a class="btn btn-success" ng-click="updateImg(img._id,img)">zmień</a></td>

    </div>
</div>
<br>
<br>
<br>
<div class="row">
    <form ng-controller="NewGalleryCtrl as up" name="up.upload_form">
        <p> Dodaj obrazek do galerii</p>
        <!--<input type="text" ng-model="up.namePl" value="">

        <input type="text" ng-model="up.nameEn" value="">-->

        <input type="file" ngf-select ng-model="up.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"
        /> Miniaturka: <img style="width:100px;" ngf-thumbnail="up.file || '/thumb.jpg'" />

        <i ng-show="up.upload_form.file.$error.required">*wymagane</i>
        <br>
        <i ng-show="up.upload_form.file.$error.maxSize">Plik za duży
            {{up.file.size / 1000000|number:1}}MB: max 20M</i>
        <button type="submit" ng-click="up.submit()">Dodaj</button>
        <INPUT TYPE="button" onClick="history.go(0)" VALUE="Odśwież">
        <p>{{up.progress}}</p>
    </form>
</div>