<div class="row">
    <div class="col-md-3 col-xs-12">
        <input class="form-control" type="text" ng-model="filterQuery" placeholder="Szukaj obrazu" />  
         <INPUT class="btn btn-default" TYPE="button" onClick="history.go(0)" VALUE="Odśwież">     
    </div>
      <div class="col-md-offset-9">      
        <INPUT TYPE="button" ng-click="toggleCustom()" class="btn btn-default" VALUE="Dodaj nową pozycje">
    </div>
</div>
<br>
<br>
<br>
<div class="row" ng-hide="custom">
    <div class="col-md-6">
         <lable>Nazwa polska</lable>
        <input class="form-control" type="text" ng-model="img.namePl">
        <br>
        <lable>Nazwa angielska</lable>
        <input class="form-control" type="text" ng-model="img.nameEn">
        <br>
        <br>
        <lable>Kategoria zdjęcia(PL)</lable>
        <select class="form-control" ng-model="img.typPl">
            <div >
            <option ng-repeat="typ in typs" >{{typ.typPl}}</option>
            </div>
        </select>
        <br>
         <lable>Kategoria zdjęcia(EN)</lable>
        <select class="form-control" ng-model="img.typEn">
            <div >
            <option ng-repeat="typ in typs" >{{typ.typEn}}</option>
            </div>
        </select>
        <br>
    </div>
    <div class="col-md-6">
  
        <p> Dodaj obraz do galerii</p>
        <input type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"
        /><img style="width:400px;" ngf-thumbnail="file || '/thumb.jpg'" ngf-size="{quality: 100}" />

        <i ng-show="file.$error.required">*wymagane</i>
        <br>
        <i ng-show="file.$error.maxSize">Plik za duży
            {{up.file.size / 1000000|number:1}}MB: max 20M</i>
        <button class="btn btn-default" ng-click="uploadFiles(file,img)">Dodaj pozycję do galerii</button>
       
        <p>{{up.progress}}</p>
    
    </div>
</div>
<br>
<br>
<div class="row">

    <div class="col-md-3" ng-repeat="img in imgs | filter:filterQuery">

        <img src="{{img.url}}" class="img-responsive" style="height: 200px;width: 300px; "/>
        <lable>Nazwa polska</lable>
        <input class="form-control" type="text" ng-model="img.namePl" value="{{img.namePl}}">
        <br>
        <lable>Nazwa angielska</lable>
        <input class="form-control" type="text" ng-model="img.nameEn" value="{{img.nameEn}}">
        <br>
        <br>
        <!--<lable>Rozmiar</lable>
        <input type="text" ng-model="img.sizePl" value="{{img.sizePl}}">
        <br>-->
        <lable>Kategoria zdjęcia(PL)</lable>
        <select class="form-control" ng-model="img.typPl">
            <div >
            <option ng-repeat="typ in typs" >{{typ.typPl}}</option>
            </div>
        </select>
        <br>
         <lable>Kategoria zdjęcia(EN)</lable>
        <select class="form-control" ng-model="img.typEn">
            <div >
            <option ng-repeat="typ in typs" >{{typ.typEn}}</option>
            </div>
        </select>
        <br>

        <a class="btn btn-danger" ng-click="deleteImg(img._id)">usuń</a>
        <td><a class="btn btn-success" ng-click="updateImg(img._id,img)">zmień</a></td>

    </div>
</div>

