<div class="row">
    <div class="col-md-3 col-xs-12">
        <input class="form-control" type="text" ng-model="filterQuery" placeholder="Szukaj produktu" />  
         <INPUT class="btn btn-default" TYPE="button" onClick="history.go(0)" VALUE="Odśwież">     
    </div>
      <div class="col-md-offset-9">      
        <INPUT TYPE="button" ng-click="toggleCustom()" class="btn btn-default" VALUE="Dodaj nową pozycje">
    </div>
</div>
<br>
<br>
<br>
<div class="row" ng-hide="custom">
    <form ng-controller="NewProductsCtrl">
        <div class="col-md-4">
        <lable>Nazwa polska</lable>
        <input class="form-control" type="text" ng-model="product.namePl" >
        <br>
        <lable>Nazwa angielska</lable>
        <input class="form-control" type="text" ng-model="product.nameEn">
        <br>

        <lable>Opis polski</lable>
        <textarea class="form-control" type="text" ng-model="product.descriptionPl" />
        <br>
        <lable>Opis angielski</lable>
        <textarea class="form-control" type="text" ng-model="product.descriptionEn" />
        <br>
        <!--<lable>Url pdf</lable>
        <input class="form-control" type="text" ng-model="product.urlPdf">-->

    </div>
    <div class="col-md-4">
        <lable>Typ produktu(PL)</lable>
        <select class="form-control" ng-model="product.typPl">
            <div>
                <option ng-repeat="typ in typs">{{typ.typPl}}</option>
            </div>
        </select>
        <br>
        <lable>Typ produktu(EN)</lable>
        <select class="form-control" ng-model="product.typEn">
            <div>
                <option ng-repeat="typ in typs">{{typ.typEn}}</option>
            </div>
        </select>
        <br>

        <lable>Kategoria produktu(PL)</lable>
        <select class="form-control" ng-model="product.categoryPl ">
            <div>
                <option ng-repeat="category in categorys | filter: product.typPl">{{category.categoryPl}}</option>
            </div>
        </select>
        <br>
        <lable>Kategoria produktu(EN)</lable>
        <select class="form-control" ng-model="product.categoryEn ">
            <div>
                <option ng-repeat="category in categorys| filter: product.typEn">{{category.categoryEn}}</option>
            </div>
        </select>
        <br>
        <lable>Rozmiar produktu(PL)</lable>
        <select class="form-control" ng-model="product.sizePl">
            <div>
                <option ng-repeat="size in sizes | filter : product.categoryPl">{{size.sizePl}}</option>
            </div>
        </select>
        <br>
        <lable>Rozmiar produktu(EN)</lable>
        <select class="form-control" ng-model="product.sizeEn">
            <div>
                <option ng-repeat="size in sizes | filter : product.categoryEn">{{size.sizeEn}}</option>
            </div>
        </select>
        <br>
    </div>
        
        <p> Dodaj zdjęcia produktu</p>
        <input type="file" class="btn button-default" ngf-select ng-model="files" ngf-multiple="true">
        <br>Zdjęcia:
        <ul>
            <li ng-repeat="f in files" style="font:smaller">
                {{f.name}} <br>
                <img style="width:300px;" scr="{{f.file}}" ngf-size="{quality: 100}" />
            </li>
        </ul>
        <span class="progress" ng-show="progress >= 0">
        <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>   
    </span> {{errorMsg}}
    <p>{{up.progress}}</p>
    <div>
  
        <p> Dodaj pdf</p>
        <li>
        <input type="file" ngf-select ng-model="pdf" name="pdf"/>
        </li>
    </div>
    
    <br>
    
     <button class="btn btn-default" ng-click="uploadFiles(pdf,files,product)">Dodaj nowy produkt</button>
     
     <hr style="width: 100%; color: grey; height: 1px; background-color:grey;" />
</div>
<div class="row" ng-repeat="product in products | filter:filterQuery">

    <div class="col-md-4">

        <img src="{{product.url[0]}}" class="img-responsive"></p>
        <div class="col-md-6">
            <img src="{{product.url[1]}}" class="img-responsive"></p>
        </div>
        <div class="col-md-6">
            <img src="{{product.url[2]}}" class="img-responsive"></p>
        </div>
        <div class="col-md-6">
            <img src="{{product.url[3]}}" class="img-responsive"></p>
        </div>
        <div class="col-md-6">
            <img src="{{product.url[4]}}" class="img-responsive"></p>
        </div>
    </div>
    <div class="col-md-4">
        <lable>Nazwa polska</lable>
        <input class="form-control" type="text" ng-model="product.namePl" value="{{product.namePl}}">
        <br>
        <lable>Nazwa angielska</lable>
        <input class="form-control" type="text" ng-model="product.nameEn" value="{{product.nameEn}}">
        <br>

        <lable>Opis polski</lable>
        <textarea class="form-control" type="text" ng-model="product.descriptionPl" value="{{product.descriptionPl}}" />
        <br>
        <lable>Opis angielski</lable>
        <textarea class="form-control" type="text" ng-model="product.descriptionEn" value="{{product.descriptionEn}}" />
        <br>
        <lable>Url pdf</lable>
        <input class="form-control" type="text" ng-model="product.urlPdf" value="{{product.urlPdf}}">
        <br>
        <a class="btn btn-danger"  ng-really-message="Czy na pewno chcesz usunąć ten produkt?" ng-really-click="deleteProduct(product._id)">usuń</a>
        <a class="btn btn-success" ng-click="updateProduct(product._id,product)">zmień</a>
        <br>
        <!--<lable>Rozmiar</lable>
        <input type="text" ng-model="img.sizePl" value="{{img.sizePl}}">
        <br>-->
    </div>
    <div class="col-md-4">
        <lable>Typ produktu(PL)</lable>
        <select class="form-control" ng-model="product.typPl">
            <div>
                <option ng-repeat="typ in typs">{{typ.typPl}}</option>
            </div>
        </select>
        <br>
        <lable>Typ produktu(EN)</lable>
        <select class="form-control" ng-model="product.typEn">
            <div>
                <option ng-repeat="typ in typs">{{typ.typEn}}</option>
            </div>
        </select>
        <br>

        <lable>Kategoria produktu(PL)</lable>
        <select class="form-control" ng-model="product.categoryPl ">
            <div>
                <option ng-repeat="category in categorys | filter: product.typPl">{{category.categoryPl}}</option>
            </div>
        </select>
        <br>
        <lable>Kategoria produktu(EN)</lable>
        <select class="form-control" ng-model="product.categoryEn ">
            <div>
                <option ng-repeat="category in categorys| filter: product.typEn">{{category.categoryEn}}</option>
            </div>
        </select>
        <br>
        <lable>Rozmiar produktu(PL)</lable>
        <select class="form-control" ng-model="product.sizePl">
            <div>
                <option ng-repeat="size in sizes | filter : product.categoryPl">{{size.sizePl}}</option>
            </div>
        </select>
        <br>
        <lable>Rozmiar produktu(EN)</lable>
        <select class="form-control" ng-model="product.sizeEn">
            <div>
                <option ng-repeat="size in sizes | filter : product.categoryEn">{{size.sizeEn}}</option>
            </div>
        </select>
        <br>
    </div>

    <hr style="width: 100%; color: grey; height: 1px; background-color:grey;" />

</div>
<br>
<br>
<br>
