<div class="row">
    <div class="col-md-2" ng-repeat="slide in slides">

        <img src="{{slide.img}}" class="img-responsive"></p>

        <a class="btn btn-danger" ng-click="deleteSlide(slide._id)">usuń</a>

    </div>
</div>
<br> 


<div class="row">
    <form ng-controller="NewSliderCtrl as up" name="up.upload_form">
       
        <input type="file" ngf-select ng-model="up.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"
        />
         Miniaturka: <img style="width:100px;" ngf-thumbnail="up.file || '/thumb.jpg'" />
        
        <i ng-show="up.upload_form.file.$error.required">*wymagane</i>
        <br>
        <i ng-show="up.upload_form.file.$error.maxSize">Plik za duży
            {{up.file.size / 1000000|number:1}}MB: max 20M</i>
        <button type="submit" class="btn btn-default" ng-click="up.submit()">Dodaj</button>
        <INPUT TYPE="button" class="btn btn-default" onClick="history.go(0)" VALUE="Odśwież">
        <p>{{up.progress}}</p>
    </form>
</div>