@import 'mixins'
@import 'variables'


body
    background blue
    color red
    border solid 1px @color
    main
        background rgba(#FFF,0.9) 
        color blue
        border solid 1px @color
        border-radius(20px)
        clear-fix()
        