<div class="container">
    <div class="row" style="padding-top: 25px">
        <h4><strong>Oto 6 powodów, dla których warto wybrać produkty naszej firmy:</strong></h4>
    </div>
    <br>
    <div class="row boxclass">
        <div class="col-md-4">
            <div class="box wow slideInUp">
                <div class="shapeicon">

                </div>
                <div class="textH">
                    <p><strong>DOŚWIADCZENIE</strong></p>
                </div>
                <div class="icon">
                    <img src="stylus/site/icon1.png" alt="">
                </div>
                <br>
                <div class="textP">
                    <p>Istniejemy od 1992 roku i dysponujemy bezcennym doświadczeniem w wytwarzaniu samochodów specjalnych.</p>
                </div>

            </div>
            <div class="box wow slideInUp">
                <div class="shapeicon">

                </div>
                <div class="textH">
                    <p><strong>JAKOŚĆ</strong></p>
                </div>
                <div class="icon">
                    <img src="stylus/site/icon2.png" alt="">
                </div>
                <br>
                <div class="textP">
                    <p>Dla zapewnienia najwyższej jakości produktów Firma wdrożyła ISO 9001, ISO 14001 WSK 19000m AQAP 2010</p>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="box wow slideInUp">
                <div class="shapeicon">

                </div>
                <div class="textH">
                    <p><strong>ZAANGAŻOWANIE</strong></p>
                </div>
                <div class="icon">
                    <img src="stylus/site/icon3.png" alt="">
                </div>
                <br>
                <div class="textP">
                    <p>Jako firma rodzinna, gwarantujemy naszym Partnerom stabilną i pewną współpracę.</p>
                </div>

            </div>
            <div class="box wow slideInUp">
                <div class="shapeicon">

                </div>
                <div class="textH">
                    <p><strong>TECHNOLOGIA</strong></p>
                </div>
                <div class="icon">
                    <img src="stylus/site/icon4.png" alt="">
                </div>
                <br>
                <div class="textP">
                    <p>Dzięki nowoczesnym środkom i metodom, ciągle udoskonalamy standard technologiczny naszym konstrukcji.</p>
                </div>

            </div>
        </div>
        <div class="col-md-4 wow slideInUp">
            <div class="box">
                <div class="shapeicon">

                </div>
                <div class="textH">
                    <p><strong>BEZPIECZEŃSTWO</strong></p>
                </div>
                <div class="icon">
                    <img src="stylus/site/icon5.png" alt="">
                </div>
                <br>
                <div class="textP">
                    <p>Dążymy do zapewnienia komfortu obsługi i bezpieczeństwa pracy użytkownikom naszych pojazdów.</p>
                </div>

            </div>
            <div class="box wow slideInUp">
                <div class="shapeicon">
                </div>
                <div class="textH">
                    <p><strong>MOŻLIWOŚCI</strong></p>
                </div>
                <div class="icon">
                    <img src="stylus/site/icon6.png" alt="">
                </div>
                <br>
                <div class="textP">
                    <p>Duża liczba opracowanych konfiguracji daje nam swobodę tworzenia samochodów takich, jakie potrzebujesz.</p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="divparallax ">

    <div class="parallax">
        <!--style="background-image: url('stylus/site/imgparalax.png')"-->
        <div class="color-green"> </div>
        <div class="container" ng-controller="NewsCtrl">
            <div class="row">
                <div class="col-md-8">
                    <h3><strong>NAJNOWESZE WIADOMOŚCI</strong></h3>
                </div>
                <div class="col-md-offset-2 col-md-1">
                    <a href="#/news">
                        <div class="sprawdzButton" style="position: absolute; top: 60px;text-align: right;"><strong>Więcej</strong></div>
                    </a>
                </div>
            </div>
            <div class="row " ng-model="newss">
                <div class="col-md-4">
                    <a href="#/news/{{newss[0].namePl | spaceless}}#{{newss[0]._id}}" ng-click="getNews(newss[0]._id)">
                        <img ng-src="{{newss[1].img | imgCH}}" alt="" class="img-responsive">


                        <div class="podpis">
                            <div>
                                <p style="text-align: right;font-size:11px; margin-right:3px;"><i>{{newss[0].data |limitTo: 10}}</i></p>
                            </div>
                            <p style="margin: 0px 20px;">{{newss[0].namePl}}</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#/news/{{newss[2].namePl | spaceless}}#{{newss[2]._id}}" ng-click="getNews()">
                        <img ng-src="{{newss[1].img | imgCH}}" alt="" class="img-responsive">

                        <div class="podpis">
                            <div>
                                <p style="text-align: right;font-size:11px; margin-right:3px;"><i>{{newss[2].data |limitTo: 10}}</i> </p>
                            </div>
                            <p style="margin: 0px 20px;">{{newss[2].namePl}}</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#/news/{{newss[3].namePl | spaceless}}#{{newss[3]._id}}" ng-click="getNews(newss[3]._id)">
                        <img ng-src="{{newss[1].img | imgCH}}" alt="" class="img-responsive">


                        <div class="podpis">
                            <div>
                                <p style="text-align: right;font-size:11px; margin-right:3px;"><i>{{newss[3].data |limitTo: 10}}</i></p>
                            </div>
                            <p style="margin: 0px 20px;">{{newss[3].namePl}}</p>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>

</div>
</div>

<div class="container padding1">
    <div class="row">
        <div class="col-md-offset-1 flagiD">
            <p>Produkowane pojazdy są oferowane oraz eksploatowane w następujących krajach</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="stylus/site/flagi.png" class="img-responsive" alt="">
        </div>
    </div>
</div>
<div class="container padding1">
    <div class="row ">
        <div class="col-md-4 center ">
            <a href="#/products#strazackie">
                <img src="stylus/site/straz.png" class="img-responsive" alt="">
                <br>
                <img src="stylus/site/element.png" class="img-responsive element">
            </a>
            <p style="font-size:18px;"><strong>PRODUKTY STRAŻACKIE</strong></p>
            <br>
            <p style="text-align: justify; padding-bottom:20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="#/products#strazackie">
                <div class="button_base b03_skewed_slide_in" >
                    <div>Więcej</div>
                    <div></div>
                    <div>Więcej</div>
                </div>
            </a>
        </div>
        <div class="col-md-4 center">
            <a href="#/products#wojskowe">
                <img src="stylus/site/wojskowe.png" class="img-responsive" alt="">
                <br>
                <img src="stylus/site/element.png" class="img-responsive element">
            </a>
            <p style="font-size:18px;"><strong>PRODUKTY WOJSKOWE</strong></p>
            <br>
            <p style="text-align: justify; padding-bottom:20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="#/products#wojskowe">
                <div class="button_base b03_skewed_slide_in">
                    <div>Więcej</div>
                    <div></div>
                    <div>Więcej</div>
                </div>
            </a>
        </div>
        <div class="col-md-4 center">
            <a href="#/products#inne">
                <img src="stylus/site/inne.png" class="img-responsive" alt="">
                <br>
                <img src="stylus/site/element.png" class="img-responsive element">
            </a>
            <p style="font-size:18px;"><strong>PRODUKTY INNE</strong></p>
            <br>
            <p style="text-align: justify; padding-bottom:20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="#/products#inne">
                <div class="button_base b03_skewed_slide_in">
                    <div>Więcej</div>
                    <div></div>
                    <div>Więcej</div>
                </div>
            </a>
        </div>
    </div>
</div>



<!--<script>
    $('.parallax').parallax("50%", 0.5);

</script>-->