<div class="container">
    <div class="row" style="padding-top: 25px">
        <h4><b>Oto 6 powodów, dla których warto wybrać produkty naszej firmy:</b></h4>
    </div>
    <br>
    <div class="row boxclass">
        <div class="col-md-4">
            <div class="box">
                <div class="shapeicon">
                    
                </div>
                <div class="textH">
                    <p><b>AIR FREIGHT</b></p>
                </div>
                <div class="icon">
                    <img src="stylus\site\icon1.png" alt="">
                </div>
                <br>
                <div class="textP">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>

            </div>
            <div class="box">
                <div class="shapeicon">

                </div>
                <div class="textH">
                    <p><b>ROAD TRANSPORTATION</b></p>
                </div>
                  <div class="icon">
                    <img src="stylus\site\icon2.png" alt="">
                </div>
                <br>
                <div class="textP">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="shapeicon">

                </div>
                <div class="textH">
                    <p><b>PACKAKING & STORAGE</b></p>
                </div>
                 <div class="icon">
                    <img src="stylus\site\icon3.png" alt="">
                </div>
                <br>
                <div class="textP">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>

            </div>
            <div class="box">
                <div class="shapeicon">

                </div>
                <div class="textH">
                    <p><b>SEA FREIGHT</b></p>
                </div>
                 <div class="icon">
                    <img src="stylus\site\icon4.png" alt="">
                </div>
                <br>
                <div class="textP">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="shapeicon">

                </div>
                <div class="textH">
                    <p><b>RAILWAY LOGISTICS</b></p>
                </div>
                 <div class="icon">
                    <img src="stylus\site\icon5.png" alt="">
                </div>
                <br>
                <div class="textP">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>

            </div>
            <div class="box">
                <div class="shapeicon">
                </div>
                <div class="textH">
                    <p><b>WAREHOUSING</b></p>
                </div>
                 <div class="icon">
                    <img src="stylus\site\icon6.png" alt="">
                </div>
                <br>
                <div class="textP">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="divparallax">

    <div class="parallax" style="background-image: url('stylus/site/imgparalax.jpg')">
        <div class="color-green"> </div>
        <div class="container" ng-controller="NewsCtrl">
            <div class="row">
                <div class="col-md-8">
                    <h3><b>NAJNOWESZE WIADOMOŚCI</b></h3>
                </div>
                <div class="col-md-offset-2 col-md-1">
                    <a href="#/news">
                        <button class="sprawdzButton" style="position: absolute; top: 60px;text-align: right;">WIĘCEJ</button>
                    </a>
                </div>
            </div>
            <div class="row" ng-model="newss">
                <div class="col-md-4">

                    <img src="{{newss[1].img}}" alt="" class="img-responsive">

                    <a href="#/news/{{newss[0].namePl | spaceless}}" ng-click="getNews(newss[0]._id)">
                        <div class="podpis">
                            <p>{{newss[0].namePl}}</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">

                    <img src="{{newss[1].img}}" alt="" class="img-responsive">
                    <a href="#/news/{{newss[2].namePl | spaceless}}" ng-click="getNews(newss[2]._id)">
                        <div class="podpis">
                            <p>{{newss[2].namePl}}</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">

                    <img src="{{newss[1].img}}" alt="" class="img-responsive">

                    <a href="#/news/{{newss[3].namePl | spaceless}}" ng-click="getNews(newss[3]._id)">
                        <div class="podpis">
                            <p>{{newss[3].namePl}}</p>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>

</div>
</div>

<div class="container padding1">
    <div class="row">
        <div class="col-md-offset-1 flagiD">
            <p>Produkowane pojazdy są oferowane oraz eksploatowane w następujących krajach</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="stylus\site\flagi.png" class="img-responsive" alt="">
        </div>
    </div>
</div>
<div class="container padding1">
    <div class="row ">
        <div class="col-md-4 center">
            <img src="stylus\site\straz.png" class="img-responsive" alt="">
            <br>
            <img src="stylus\site\element.png" class="img-responsive element">
            <p><b>PRODUKTY STRAŻACKIE</b></p>
            <br>
            <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="#/products#strazackie">
                <button class="sprawdzButton center"><b>Zobacz</b></button>
            </a>
        </div>
        <div class="col-md-4 center">
            <img src="stylus\site\wojskowe.png" class="img-responsive" alt="">
            <br>
            <img src="stylus\site\element.png" class="img-responsive element">
            <p><b>PRODUKTY WOJSKOWE</b></p>
            <br>
            <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="#/products#wojskowe">
                <button class="sprawdzButton center"><b>Zobacz</b></button>
            </a>
        </div>
        <div class="col-md-4 center">
            <img src="stylus\site\inne.png" class="img-responsive" alt="">
            <br>
            <img src="stylus\site\element.png" class="img-responsive element">
            <p><b>PRODUKTY INNE</b></p>
            <br>
            <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="#/products#inne">
                <button class="sprawdzButton center"><b>Zobacz</b></button>
            </a>
        </div>
    </div>
</div>



<script>
    $('.parallax').parallax("50%", 0.5);

</script>