<div class="container padding1">
    <div class="row">
    <H3>Wyszukaj po :</H3>
   </div> 
    <div class="row">
        <div class="col-md-3">
            <lable>Typ:</lable>
            <select class="form-control" ng-model="filter1" ng-change="reset2()">
                <div>

                    <option type="text" ng-repeat="typ in typs">{{typ.typPl}}</option>

                </div>

            </select>
        </div>
        <div class="col-md-3" ng-show="filter1">
            <lable>Kategoria:</lable>
            <select class="form-control" ng-model="filter2 ">
                <div>

                    <option ng-repeat="category in categorys | filter:filter1">{{category.categoryPl}}</option>

                </div>

            </select>
        </div>
        <div class="col-md-3" ng-show="filter2">
            <lable>Podkategoria:</lable>
            <select class="form-control" ng-model="filter3 ">
                <div>

                    <option type="text" ng-repeat="size in sizes | filter:filter2">{{size.sizePl}}</option>

                </div>

            </select>

        </div>
        <div class="col-md-1">
            <br>
            <button class="btn btn-danger" type="reset" ng-click="reset()">Reset</button>
        </div>
    </div>
    <div class="col-md-12" ng-controller="ProduktyCtrl">
        <div class="col-md-4 col-xs-12 foto" ng-repeat="product in products | filter:filter1 | filter:filter2 | filter:filter3">
            <a href="#/product/{{product.namePl | spaceless}}" ng-click="getProduct(product._id)">
                <img src="{{product.url[0]}}" class="img-responsive">
            </a>
            <div class="podpisProdukt">
                <p>{{product.namePl}}</p>
            </div>
        </div>
    </div>
</div>